<mat-toolbar>
  <mat-form-field color="accent" class="trm-search-container">
    <input matInput type="text" (input)="term$.next($event.target.value)">
  </mat-form-field>
  <mat-icon color="accent">search</mat-icon>
</mat-toolbar>
<mat-list>
  <a mat-list-item *ngFor="let contact of contacts$ | async ; trackBy: trackByContactId;"
     [routerLink]="['/contacts', contact?.id]">
    <img mat-list-avatar [src]="contact?.image || ''" alt="Picture of {{contact?.name}}">
    <h3 mat-line>{{contact?.name}}</h3>
    </a>
</mat-list>
