<div class="trm-contacts-detail">
  <mat-card *ngIf="currentContact$ | async as currentContact">
    <mat-card-title-group class="fullBleed">
      <img mat-card-md-image [src]="currentContact.image || ''">
      <mat-card-title>{{currentContact.name || '-'}}</mat-card-title>
      <mat-card-subtitle>{{currentContact.email || '-'}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <dl>
        <dt>Phone:</dt>
        <dd>{{currentContact.phone || '-'}}</dd>
        <dt>Website:</dt>
        <dd>{{currentContact.website || '-'}}</dd>
        <dt>Birthday:</dt>
        <dd>{{currentContact.birthday || '-'}}</dd>
        <dt>Street:</dt>
        <dd>{{currentContact.address.street || '-'}}</dd>
        <dt>Zip:</dt>
        <dd>{{currentContact.address.zip || '-'}}</dd>
        <dt>City:</dt>
        <dd>{{currentContact.address.city || '-'}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="center center">
      <a mat-button title = "Go back to list"
      [routerLink]="['/']" >Go Back</a>
      <a mat-button title="Edit contact"
         routerLink = "edit"> Edit Contact</a>
    </mat-card-actions>
  </mat-card>
</div>
